:root {
    --main-color: #ff6600;
    --board-color: #F6F6EF;
    --font-accent-color: #1C2833;
    --font-normal-color: #718093;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}